[init]
    defaultBranch = main
[fetch]
    prune = true
[pull]
    ff = only
[merge]
    conflictStyle = zdiff3
[diff]
    colorMoved = default
[alias]
    s = status --short --branch
    l = log --oneline --graph --decorate
# Identity, editor, pager and line endings belong to the machine/project.
